body{
    background-color: #000000;
    color:white;
    text-align: center;
}


.snow:hover {
    background-color: white;
}

.snow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    cursor:pointer;
  }

  