@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

* {
    font-family: 'Pretendard-Regular';
}

body {
    background-image: url(image/background.jpg);
    background-size : cover;
    height: 100vh;
    width: 2000;
    position: relative;
}
.announcement:hover {
    color: yellow;
    cursor: pointer;
}

.game {
    margin-left:-52px;
}

.game:hover {
    animation: hoverwiggle ease-in 2s;
}

@keyframes hoverwiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.games {
    color:violet;
}

li:hover {
    animation: liwiggle ease-in 2s;
    color: aqua;
    cursor: pointer;
    text-shadow: 10px 10px 15px black;
}

@keyframes liwiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sticky {
    /* sticky 사용시 스크롤하면 잘려보이는데 높이차이가 있어 그렇기 때문에 height값을 주면 잘림이 없이 사용할 수 있다. */
    height: 200px;
    position: sticky;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.leftmain {
    width : 397px;
    height : 1700px;
    float:left;
    background-color: rgba(151, 182, 221, 0.5);
    border-radius: 25px;
    /* 내부(상하좌우)를 중앙정렬하는 좋은 세트 3가지 // 가장 부모 영역에 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}

.sidebar {
    background-color: #679FE7;
    width :358px;
    height : 1650px;
    float:left;
    background-color: rgba(103, 159, 231, 0.5);
    border-radius: 50px;
    z-index:1
}

#blossom {
    border-radius: 50px;
    width:358px;
    height:110px;
    z-index:100
}

#pearly {
    width : 100%;
    transform: translateY(-180px);
    z-index:1;
    cursor : pointer;
}

.profile {
    transform : translateY(-350px);
    width : 200px;
    border-radius: 9999px;
    z-index : 100; /* 이건 약간 어떤게 더 앞으로 오고 어떤게 더 뒤로가는 순서를 정하는 것 같다. */
    position: absolute;
    z-index:1;
}

#welcome {
    transform : translateY(-480px);
    position : absolute;
    font-size : 30px;
    font-weight: 700;
    margin-left: 5px;
    text-decoration: underline;
    z-index:100;
}

.visit {
    text-align: center;
    color :white;
    transform : translateY(-320px);
    position : absolute;
    background-color: rgba(79, 146, 122, 0.5);
    width : 300px;
    height : 250px;
    border-radius: 50px;
    z-index:100;
}

#category {
    background-color: rgba(103, 159, 231, 0.75);
    width : 335px;
    height : 1000px;
    border-radius: 50px;
    transform : translateY(325px);
    position:absolute;
    border: 2px solid rgb(90, 111, 182);
    z-index:100;
}

li {
    list-style-type:none;
    font-weight: 700;
    line-height: 35px;
    z-index:100;
}

/* 눈 내려요 */
.snow {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px white;
    z-index: 1;
  }
/* 끝 */

.footer {
    /* 가장 하단으로 내리는 명령어 두가지인데 이상하게 더 내려가지 않았다. */
    /* /* margin-top:1650px; */
    margin-left : 447px;
    font-size : 20px;
    font-weight: 400;
    text-align: center;
    color:white;
    text-shadow : 15px 15px 25px black;
    width : 1130px;
    height: 75px;
    border: 5px solid rgba(109, 222, 241, 0.7);
    border-radius: 15px;
    bottom: -1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    border-radius: 25px;
    line-height: 25px;
    /* 다른 명령어 추가로 푸터자리로 맞춤 */
}

/* 플로팅 버튼 */

.float-button-container {
	z-index: 1000;
	position: fixed;
	transform: translate(-50%, 0%);
	left: 97.5%;
	bottom: 30px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	height: 40px;
	border-radius: 9999px;
	text-decoration: none !important;
}

.float-button {
	display: flex;
	align-items: center;
	width: 70px;
    height : 70px;
    border-radius: 9999px;
	cursor: pointer;
}

.float-button:hover {
	animation : wiggle 2s;
}
  @keyframes wiggle {
    0% {
      transform: translate(0%, 0%) rotate(0);
    }
    
    25% {
      transform: translate(0%, -20%) rotate(-5deg);
    }
  
    75% {
      transform: translate(0%, -20%) rotate(5deg);
      
    }
    
    100% {
      transform: translate(0%, 0%) rotate(0);
    }
  }

  /* 각 버튼 이미지를 나누었다. 그냥하려고 했으나 이미지가 조금씩 눌려보여서 조정을 위해 나눔 */
.float_button_image {
    width: 50px;
	height: 60px;
    transform: translateX(2px); 
}

.float_button_image2 {
    width: 300px;
	height: 75px;
    transform: translateX(-9.5px); 
}

.float_button_image3 {
    width: 50px;
	height: 50px;
    transform: translateX(2px); 
}

.float_button_image4 {
    width: 100px;
	height: 50px;
}

.float_button_image5 {
    width: 100px;
	height: 65px;
    transform: translateX(-5px); 
}
/* hello라는 온클릭 이벤트 생성 및 세부 설정 - 자바스크립트로 온클릭을 만든 상태에서 행함
    직접 만들었다.
*/
.hello {
    transform :translateY(-90px);
    animation : ease buttonfadein 1s;
    animation-fill-mode: forwards;
}
.hello2 {
    transform :translateY(-180px);
    animation : ease buttonfadein 1s;
    animation-fill-mode: forwards;
}
.hello3 {
    transform :translateY(-270px);
    animation : ease buttonfadein 1s;
    animation-fill-mode: forwards;
}
.hello4 {
    transform :translateY(-360px);
    animation : ease buttonfadein 1s;
    animation-fill-mode: forwards;
}

@keyframes buttonfadein {
    0% {
        opacity : 0%;
    }

    100% {
        opacity : 100%;
    }
}
.float-button-container2 {
	z-index: 990;
	position: fixed;
	left: 95.65%;
	bottom: 15px;
    opacity : 0%;
}
.float-button-container3 {
	z-index: 990;
	position: fixed;
	left: 95.65%;
	bottom: 15px;
    opacity : 0%;
}
.float-button-container4 {
	z-index: 990;
	position: fixed;
	left: 95.65%;
	bottom: 15px;
    opacity : 0%;
}
.float-button-container5 {
	z-index: 990;
	position: fixed;
	left: 95.65%;
	bottom: 15px;
    opacity : 0%;
}

/* 프로그레스바 시작 */
#mybar { 
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 7px; /* 프로그레스 바 굵기 */
    z-index: 9999;
    transition: all .1.5s ease;
    background: linear-gradient(100deg, #b6aaff, #b9fff0); /* 프로그레스 바 그라데이션 색상 */
  }
  /* 프로그레스바 시작 끝 */

/* posting 시작 */
  .blank {
    width : 1050px;
    margin-top: 50px;
    margin-left : 25px;
    line-height: 40px;
  }

  .blank2 {
    width : 1050px;
    margin-top: 20px;
    margin-left : 25px;
  }
.postingtitle {
    width :1130px;
    height: 200px;
    border-radius: 50px;
    background-color: hsla(213, 100%, 90%, 0.5); 
    transform: translate(55px, -410px);
    box-shadow: 5px 5px 5px black;
}

.posting {
    width:1130px;
    height:1700px;
    border-radius: 50px;
    background-color: #CBE2FF;
    transform: translate(55px, -400px);
    box-shadow: 5px 5px 5px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size : 30px;
    line-height: 200px;
    text-shadow : 5px 5px 5px black;
    animation : fill ease-in 5s;
    animation-fill-mode: forwards;
    text-align: center;
}
@keyframes fill {
    from { color: rgb(194, 217, 245);}
    to { color: white;}
}

.comment {
    width:1130px;
    height:300px;
    border-radius: 50px;
    background-color: #CBE2FF;
    transform: translate(55px, -375px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px white;
}

.front {
    background-color: rgba(255, 255, 255, 0.5);
    width : 1100px;
    height : 275px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
}

#front01 {
    height: 1670px;
}

.postall {
    transform: translateY(200px);
    z-index:0;
    width: 0px;
    height:0px;
    transform: translate(-275px, 175px);
    position: absolute;
    display:inline;
    
}

#beauty {
    box-sizing: border-box;
    border-width: 2px 12px;
    border-bottom-style: solid;
    border-bottom-color : #6f00ff;
    padding : 3px 10px;
    border-left-style : solid;
    border-left-color : #6f00ff;
    margin : 5px 0px;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 700;
    color : black;
}

#beauty2 {
    box-sizing: border-box;
    border-width: 2px 12px;
    border-bottom-style: solid;
    border-bottom-color : #00ff88;
    padding : 3px 10px;
    border-left-style : solid;
    border-left-color : #00ff88;
    margin : 5px 0px;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 700;
    color : black;
}

/* 섬네일 글씨와 함께 나란히 작성용 style (float:left로 좌측 배열, clear:both로 글자와 나란히 배열 가능)*/
.sumnail {
    float:left;
    clear:both;
}

table, th, td {
    border: 5px solid rgb(116, 116, 116);
    text-align: center;;
    width :1050px;
    font-weight: 700;
    font-size:20px;
    border-radius: 10px;
}

/* 표에서 번갈아가면서 색깔 변경 */
tr:nth-child(even){
    background-color: lightskyblue;
}
tr:nth-child(odd){
    background-color: lightblue;
}
/* 표에서 번갈아가면서 색깔 변경 끝 */

th {
    font-size:25px;
}

.input01 {
    border-radius: 25px;
    text-align:center;
}

.input02 {
    margin-top:10px;
    width :1040px;
    height: 35px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius : 25px;
    text-align: center;
}

.commentside {
    border-radius: 5px;
    background-color: rgba(2, 225, 255, 0.25);
    width:1050px;
    height:125px;
    text-align: center;
    line-height: 125px;
}

.button {
    margin-left: 1000px;
}

.button:hover {
    box-shadow: 5px 5px 5px black;
    animation: wiggle ease-out 1s;
}

/* 마크 색깔 변경 */
mark {
    background-color: rgb(212, 255, 148);
    border-radius: 15px;
}
.index01 {
    width : 250px;
    margin-top : 300px;
    margin-left : 30px;
    position: absolute;
    cursor:pointer;
    color:#6f00ff;
}

.index02 {
    width : 250px;
    margin-top : 350px;
    margin-left : 30px;
    position: absolute;
    cursor:pointer;
    color:#00ff88;
}

.index {
    width : 250px;
    height: 250px;
    position:sticky;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    transform: translateX(1170px);
    display: inline-block;
}

.indeximg {
    width : 320px;
    position: absolute;
    margin-top:200px
}

/* 마지막 로딩 */
.loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	background: rgb(255, 255, 255);
	z-index: 999;
	opacity: 0.7;
    animation: gifadeout ease-in 3s;
    animation-fill-mode: forwards;
    z-index:999;
}
.loading > img {
	display: flex;
	width: fit-content;
	height: fit-content;
	margin: auto;
	box-shadow: none;
}

@keyframes gifadeout {
    0% {
        opacity : 0.7
    }
    100% {
        opacity : 0;
        display : none;
    }
};